{% extends 'base.html' %}

{% block conteiner %}
  <main class="container mt-3">
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
        <form action="{{ url_for('render_booking',id_teacher=id, day=day, time=time) }}" class="card mb-3" method="POST">
          {{ form.csrf_token }}
          <div class="card-body text-center pt-5">
            <img src="{{ teacher.picture }}" class="mb-3" width="95" alt="">
            <h2 class="h5 card-title mt-2 mb-2">{{teacher.name}}</h2>
            <p class="my-1">Запись на пробный урок</p>
            <p class="my-1">{{ client_day }}, {{time}}:00</p>
          </div>
          <hr />
          <div class="card-body mx-3">

            {{ form.name.label(class_="mb-1 mt-2") }}
            {% for err in form.name.errors %}
              <p class="text-danger">{{err}}</p>
            {% endfor %}
            {{ form.name(class_="form-control", placeholder="ФИО") }}

            {{ form.phone.label(class_="mb-1 mt-2") }}
            {% for err in form.phone.errors %}
              <p class="text-danger">{{err}}</p>
            {% endfor %}
            {{ form.phone(class_="form-control", placeholder="+7. . . ") }}

            {{ form.submit(class_="btn btn-primary btn-block mt-4") }}
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}